<div class="box-form">
  <h3 class="title-form">Nova Senha</h3>
  <div class="alerts">
      <div *ngIf="logado" class="alert alert-danger" role="alert">
        Senha inválido!
      </div>
  </div>
  <form [formGroup]="formRecPass" novalidate>
    <div class="form-group">
      <input type="password" class="" placeholder="Senha" formControlName="password">
    </div>
    <div class="form-group">
      <input type="password" class="" placeholder="Repetir Senha" formControlName="password_confirmation">
    </div>
    <div class="box_btn-login">
      <button class="btn-login" (click)="recoveryPass(formRecPass.value)">Salvar</button>
    </div>
  </form>
</div>
