@font-face {
  font-family: helveticaneue;
  src: url('../../../assets/Gotham-Light.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fl-p {
  font-size: 26px;
}

.sec_01 {
  height: 386px;
  background: white;
  display: flex;
  padding: 0 0 50px 0;
}

.sec_01 .sec_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-image {
  width: 360px;
  margin: 0 auto 60px auto;
}

.box-image img {
  width: 80%;
}

.sec_01 .sec_right {
  background-image: url(../../../assets/img/607.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -10px;
}

.sec_01 .sec_left {
  padding-right: 0;
  display: flex;
}

.title {
  font-size: 3.4em;
  margin-bottom: 0px;
  text-align: center;
}

.sub-title {
  font-size: 1.4em;
  display: block;
  text-align: center;
  padding-left: 10px;
  display: none;
}

.title,
.sub-title,
.description {
  color: #2f2a53;
}

.title,
.sub-title,
.btn-navegar,
.description {
  /* margin-left: 100px; */
}

.sec_left,
.sec_right {
  flex: 1;
  height: 100%;
  /* border: 1px solid black; */
}

.sec_right {
  display: none;
}

.btn-navegar {
  border: 1px solid;
  width: 200px;
  padding: 10px;
  border-radius: 140px;
  background: #2f2a53;
  color: white;
}

.description {
  width: 60%;
  margin: 30px auto 0 auto;
}

.description p {
  width: 100%;
  /* text-align: center; */
}

.sec_00 {

  padding: 40px 0;
}

.sec_00 p {
  width: 70%;
  margin: auto;
}

.sec_00 img {
  /* width: 360px; */
  min-height: 180px;
  margin: 0 auto;
  display: block;
}


/* section 03*/
.sec_03 {
  display: flex;
  flex-direction: column-reverse;
}

/* section 04*/
.sec_04 {}

.c {
  height: 500px;
  background: slateblue;
}


/* section 03*/
.sec_05 {
  display: flex;
  flex-direction: column-reverse;
}

.header {
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1010;
  margin-bottom: 45px;
}

.h-box {
  position: relative;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h_box02 {
  position: relative;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.h_box-item {
  height: 40px;
  display: flex;
  align-items: center;
}

.h_right i,
.b_btn-nav {
  margin-right: 15px;
}

.menu_hanburger {
  width: 25px;
  height: 23px;
  position: relative;
  display: inline-block;
  border-top: 2px solid orangered;
  margin-right: 20px;
}

.menu_hanburger::before,
.menu_hanburger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border: 1px solid orangered;
}

.menu_hanburger::before {
  top: 8px;
}

.menu_hanburger::after {
  top: 17px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  position: relative;
  border: 1px solid #686F5F;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.left-content {
  display: none;
}


.sec_02,
.sec_04 {
  background: #f2f5f9 !important;
}


/* icons */
.fa-twitter,
.fa-facebook,
.fa-instagram {
  color: white;
  font-size: 1.5em !important;
}


/* Efeitos Modal*/
._menu {
  left: -100%;
  /* transition: left 2s ease-in-out !important; */

}

.modal_menu {
  left: 0;

}

.m {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  /* border-radius: 50%; */
  background: #2f2a53;
  z-index: 100000;
  top: 0;
  bottom: 0;
  right: 0;
  transition: left 500ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* transition: 1s all ease; */
}

.m a {
  border-bottom: 1px solid white;
  display: block;
  font-size: 2em !important;
  cursor: pointer;
  border-radius: 4px;
}

.m a:hover,
.m a.active {
  background: #b7c5e0;

}



@media (min-width: 400px) {
  .box-desc p {
    width: 334.59px;
  }
}

@media (min-width: 900px) {
  .left-content {
    display: block;
  }

  .sec_01 {
    margin-top: 60px;
  }

  .sec_01 .sec_left {
    padding-right: 0;
    padding-top: 60px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* fl-p -> fonte letra pequena */
  .fl-p {
    font-size: 46px !important;
    color: gray;
  }

  .box_menu_a {
    margin-left: 990px;
    padding: 15px;
    margin-top: -25px;
  }

  .box_menu_a a {
    padding: 5px;
    margin-right: 20px;

  }

  .sec_right {
    display: block;
  }

  .sec_00 {
    display: flex;
    flex-direction: row;
  }

  .box-image,
  .box-desc {
    flex: 1;
    position: relative;
  }

  .box-image img {
    width: 88%;
  }

  .box-image img,
  .box-desc p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .box-desc p {
    margin: 0;
    font-size: 1.2em;
  }

  .sec_00 p {
    width: 70%;
  }

  .fonte-letra {
    font-size: 34px !important;
    color: gray;
  }

  .box-image {}

  .box-desc {}

  .box-image[_ngcontent-c2] {
    width: 360px;
    margin: auto;
  }

  .sec_01 .sec_left {
    padding-right: 0;
    padding-top: 0px;
    padding-bottom: 100px;
  }

  .sec_01,
  .sec_02,
  .sec_03,
  .sec_04 {
    height: 646px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
    font-size: 36px;
  }

  .description {
    margin-top: 170px;
    font-size: 20px;
  }

}

/* Efeitos Modal*/
