input{
    width: 100%;
    margin-top: 10px;
    padding: 10px 6px;
    border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
    border-bottom: 1px solid #999;
    outline: none;
}
