
<div class="content-main">
  <rt-sidebar></rt-sidebar>

<div class="content-wrapper" style="min-height: 625px;">
  <section class="content-header">
    <!-- <h1>
      Page Header
      <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol> -->
  </section>

  <section class="content principal">
    <!-- Your Page Content Here -->
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
</div>


