<div class="box-form">
  <h3 class="title-form">Alterar Senha</h3>
  <div class="alerts">
      <div *ngIf="logado" class="alert alert-danger" role="alert">
        Senha inválido!
      </div>
  </div>
  <form [formGroup]="formNewPass" novalidate>
      <div class="form-group">
          <input style="display: none;" type="email" class=""  formControlName="email">
        </div>
    <div class="form-group">
      <input type="password" class="" placeholder="Senha Atual" formControlName="oldPassword">
    </div>
    <div class="form-group">
        <input type="password" class="" placeholder="Nova Senha" formControlName="password">
      </div>
    <div class="form-group">
      <input type="password" class="" placeholder="Repetir Nova Senha" formControlName="password_confirmation">
    </div>
    <div class="box_btn-login">
      <button class="btn-login" (click)="newPass(formNewPass.value)">Salvar</button>
    </div>
  </form>
</div>

