.content_trabalho_rascunho{
    min-height: 100px;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 3px 10px 0 10px;
}
.content_trabalho_rascunho:hover{
    background-color: aliceblue;
}