<div class="col-xs-12 col-sm-12 col-md-10">
  <div class="content_trabalho">
    <a href="#">
      <h3 class="title-trabalho">Uso da Gameficação para Melhoria do Planejamento e Controle de Obras</h3>
    </a>
    <p class="name-author">Autor(a): Nascimento, Edmundo Leandro da Silva</p>
    <p class="stly-geral">
      ResumoO objetivo deste artigo é discutir a aprendizagem propiciada pela experiência
      com jogos eletrônicos e como professores e escolas poderiam aprender com os jogos que
    </p>
    <p class="stly-geral key-work">
      Palavras-Chave: Gameficação ; Gerenciamento Visual ; Engajamento ; Transparência ;
    </p>
  </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-10">
  <div class="content_trabalho">
    <a href="#">
      <h3 class="title-trabalho">Uso da Gameficação para Melhoria do Planejamento e Controle de Obras</h3>
    </a>
    <p class="name-author">Autor(a): Nascimento, Edmundo Leandro da Silva</p>
    <p class="name-author">Curso: Ciėncia da Computação</p>
    <p class="stly-geral">
      Resumo: <a href="#">Ler o resumo.</a>
    </p>
    <p class="stly-geral key-work">
      Palavras-Chave: Gameficação ; Gerenciamento Visual ; Engajamento ; Transparência ;
    </p>
  </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-10">
  <div class="content_trabalho">
    <a href="#">
      <h3 class="title-trabalho">Uso da Gameficação para Melhoria do Planejamento e Controle de Obras</h3>
    </a>
    <p class="name-author">Autor(a): Nascimento, Edmundo Leandro da Silva</p>
    <p class="name-author space-paragrafo">Curso: Ciėncia da Computação</p>
    <p class="stly-geral space-paragrafo">
      Resumo: <a href="#">Ler o resumo.</a>
    </p>
    <p class="stly-geral key-work space-paragrafo">
      Palavras-Chave: <span class="key-work-styl">Gameficação</span> <span class="key-work-styl">Gerenciamento Visual</span> <span class="key-work-styl">Engajamento</span>  <span class="key-work-styl">Transparência</span>
    </p>
  </div>
</div>