<!-- <rt-f-header></rt-f-header> -->
<!-- <rt-f-footer></rt-f-footer> -->

<!--
<div>
    <rt-f-header></rt-f-header>
    <rt-f-main mudouValor="onMudou($event)"></rt-f-main>
    <rt-f-footer></rt-f-footer>
</div>
<rt-modal></rt-modal>

-->
<!-- 

<header class="header" [class.border_bottom-header]="!hiddenLogo">
    <div class="col-xs-2 col-sm-3">
        <div class="col-xs-12" style="padding-left:0;">
            <div class="h_left">
                <a [routerLink]="['/']" class="logo">
                    <img src="./assets/img/logo_2.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-10">
        <div *ngIf="hiddenLogo">
            <a [routerLink]="['/sobre']" class="menu-item">Contato</a>
            <a [routerLink]="['/sobre']" class="menu-item">Sobre</a>

        </div>
        <div class="" *ngIf="!hiddenLogo">
            <!-- <a [routerLink]="['/']" class="logo"> 
                        <img src="./assets/img/logo_2.png" alt="">
                    </a> -->
            <!-- <div class="searchInput" style="display: flex;height: 40px;
            position: relative;">
                <form [formGroup]="searchTop" id="content">
                    <div class="box-search-top">
                        <span class="s s-border" (click)="animationSearch()"></span>
                        <input class="span-search" style="outline-color: #2f2a53;" type="text" formControlName="search" (keyup.enter)="_searchTop(searchTop.value)"
                            [(ngModel)]="valueSearch" (click)="_searchTop(searchTop.value)"> -->

                        <!-- <input type="text" name="input" formControlName="search" class="input" (keyup.enter)="_searchTop(searchTop.value)"
                         [(ngModel)]="valueSearch">
                        <i class="fa fa-search search" (click)="animationSearch()"></i>
                        -->
                        <!-- <input type="text" formControlName="search" (keyup.enter)="_searchTop(searchTop.value)"
                            [(ngModel)]="valueSearch" class="span-search"> 
                            <i class="fa fa-search mr-t separacao" (click)="_searchTop(searchTop.value)"></i>                                          -->
                   <!--  </div>

                    <div id="app-cover">
                        <div id="app">
                          <div id="circle">
                            <form method="get" action="" id="form">
                              <input type="text" name="q" id="search-input" placeholder="Search" autocomplete="off" required>
                            </form>
                            <div id="r-btn"></div>
                          </div>
                          <div id="c-btn"></div>
                          <div id="init-button"></div>
                          <input type="submit" id="submit-button" form="form">
                        </div>
                      </div> 

                </form>

            </div>

        </div>-->
        <!-- <i class="fa fa-filter fa-2x" (click)=""></i> -->
        <!-- <i class="fa"></i>
        <div class="" style="display:flex;">

            <i class="fa fa-search fa-2x" *ngIf="!hiddenLogo"></i>
            
        </div> 
    </div>
</header>-->

<!-- <router-outlet></router-outlet> -->
<!-- 
<footer class="main-footer"> -->
    <!-- To the right -->
    <!-- Default to the left -->
    <!-- <div>
        <strong>Copyright &copy; 2018 <a href="#" style="color:#fff;">&nbsp;TecGenius</a>.&nbsp;</strong> All rights
        reserved.
    </div>

</footer> -->
<!-- 
<main class="main" style="height:100vh; display: flex;">
    <div style="
       width: 30%; height: 100%; position: relative;padding: 0 20px;
       ">
        <img src="../../../assets/img/BOOKE-HOME3.png" width="135" alt="" style="display: block; margin: auto; margin-top: 40px;">
  
        <div class="text-description" style="position: absolute; top: 30%; transform: translateY(-50%); padding: 0 20px">
            <span style="font-weight: 154!important;">Faça pesquisas de Artigos e monográfias feitos por estudantes angolanos</span>
        </div>
  
        <img src="../../../assets/img/BOOKE-MOBILE2.png" alt="" width="280" height="250" style="display: block; margin: 0 auto; position: absolute; bottom: 13%; left: 50%; transform: translateX(-50%); 
         
         ">
  
        <div style="position: absolute; bottom: 0%; width: 100%">
           <p style="text-align: left; font-size: .7em;padding-bottom: 7px; padding-left: 9px;">
                <strong>&copy; 2019<a href="#" style="color:#2f2a53; text-decoration: none;">&nbsp;Booke</a>.&nbsp;</strong> All rights reserved.
           </p>
        </div>
    </div>
  
    <div class="b-right" style=" display: flex; flex-direction: column; justify-content: space-between;
       width: 70%; height: 100%; position: relative; background: #b7c5e0; padding-right: 20px;
       ">
        <div style="height: 50px;">
            <a href="#" style=" float: right; padding-top: 20px;text-decoration: none;color: white; font-size: 1.1em;">Sobre o Booke</a>
        </div>
        <div style="display: flex; flex-direction: column;
        width:100%; justify-content: center;">
            <input type="text" placeholder="Digite aqui" style="
        width: 70%; margin: 0 auto; border-radius: 50px;
        line-height: 45px; outline: none;border: 2px solid white; background: white; padding-left: 15px;
        ">
            <button style="
            width: 20%; margin: auto; margin-top: 20px;
            padding: 10px 25px; border-radius: 124px;
            background-color: #2f2a53; color: white; font-size: 1.1em; outline: none;
        ">Pesquisar</button>
        </div>
        <div style="height: 50px;">
            <i class="fa fa-facebook" style="float: right; padding: 5px; margin: 0 5px;"></i>
            <i class="fa fa-instagram" style="float: right; padding: 5px; margin: 0 5px;"></i>
            <i class="fa fa-twitter" style="float: right; padding: 5px; margin: 0 5px;"></i>
        </div>
    </div>
   
  </main> -->

  <router-outlet></router-outlet> 