.msgNotFound{
    padding-top: 50px;
    font-size: 1.7em;
    font-weight: 150;
}
.clearfix {
  clear: both;
}
/* .work-item:nth-child {
  border-bottom: 1px solid transparent;
} */
.work-item {
  border-bottom: 0.45px solid #bdb9b9;
}

.content-checkbox input, .content-checkbox span{
    display: inline;
}

.content-filter {
    margin-bottom: 40px;
}

.search_mobile {
    display: flex;
    align-items: center;
}

.search_mobile i {
    background: #2f2a53;
    border: 1px solid #2f2a53;
    height: 30px;
    font-size: 1.3em;
    width: 38px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search_mb {
    height: 30px;
    margin-top: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #2f2a53;
}

.key-work-styl{
    font-size: 0.6em !important;
}


/* ====================== */

.searchInput separacao {
    margin-left: 100px !important;
  }

    
  .box-search-top{
    display: flex;
    margin-right: -720px;
            
  }

  .box-search-top sepracao {
    margin-right: 100px;
  }


  .box-search-top i {
    background: #2f2a53;
    height: 38px;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fff;
    cursor: pointer;
    
  }
  
  @media (min-width: 768px) {
    .row {
      width: 720px;
      margin: 0 auto;
    }
  
    .col {
      height: 100px;
      background: grey;
      margin: 10px;
    }
  }
  
  @media (min-width: 992px) {
    .row {
      width: 960px;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 1200px) {
    .row {
      width: 1140px;
      margin: 0 auto;
    }
  }
  
  .header {
   height: 60px;
    background: white;
    padding: 10px 15px;
    /* box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1); */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1010;
  }

  .menu-item {
    float: right;
    padding: 5px 15px;
    margin: 0 5px;
    font-size: 1.15em;
  }



  .border_bottom-header {
    border-bottom: 1px solid rgba(20, 23, 28, 0.2);
  }
  
  .h-box {
    position: relative;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .h_box02 {
    position: relative;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .h_box-item {
    height: 40px;
    display: flex;
    align-items: center;
  }
  
  .h_right i,
  .b_btn-nav {
    margin-right: 15px;
  }
  
  .menu_hanburger {
    width: 25px;
    height: 23px;
    position: relative;
    display: inline-block;
    border-top: 2px solid orangered;
    margin-right: 20px;
  }
  
  .menu_hanburger::before,
  .menu_hanburger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border: 1px solid orangered;
  }
  
  .menu_hanburger::before {
    top: 8px;
  }
  
  .menu_hanburger::after {
    top: 17px;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    position: relative;
    border: 1px solid #686F5F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-avatar::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: orangered;
    border-radius: 50%;
    top: -1px;
    right: 0;
  }
  
  .initial_avatar {
    font-weight: 150;
    color: #686F5F;
  }
  
  .box_search {
    height: 60px;
    background-color: steelblue;
  }
  
  .form_search {
    width: 100%;
    display: none;
  }
  
  .action-search span,
  .action-user,
  .b-separar,
  .action-close {
    display: none;
    color: #fff;
  }
  
  .action-search i,
  .action-user i {
    color: #fff;
    margin-right: 3px;
  }
  
  .b-separar {
    width: 1px;
    background: white;
    margin: 0 15px;
    height: 20px;
  }
  
  @media (min-width: 768px) {
  
    .action-search span,
    .action-search i,
    .action-user,
    .b-separar {
      display: inline;
    }
  
    .menu_hanburger,
    .fa-filter,
    .fa-search {
      display: none;
    }
  
    .h-box {
      width: 100%;
      margin: 0 auto;
    }
  
    .b_user-avatar {
      display: inline-block;
    }
  
    .logo {
      width: 110px;
      font-size: 1.2em;
    }
  
    .form_search {
      padding: 10px;
      height: 40px;
      display: block;
      background-color: wheat;
      background-color: #f2f3f5;
      border-radius: 3px;
      display: flex;
      align-items: center;
    }
  
    .h_center {
      width: 350px;
      margin-left: calc(50% - 250px);
    }
  }
  
  .mr-t {
    margin-top: 0;
    
  }
  
  @media (min-width: 992px) {
    .h-box {
      width: 100%;
      margin: 0 auto;
    }
  
    .b_btn-nav {
      display: block;
    }
  
    .h_center {
      width: 450px;
      margin-left: calc(50% - 350px);
    }
  }
  
  @media (min-width: 1200px) {
    .h-box {
      width: 100%;
      margin: 0 auto;
    }
  
    .fa-bell,
    .fa-heart {
      display: block;
    }
  }
  
  .box-icon-menu {
    display: inline;
    width: 23px;
    height: 20px;
  }
  
  .icon-menu {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: black;
  }
  
  .icon-menu:before,
  .icon-menu:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
  }
  
  .icon-menu:before {
    top: 7px;
  }
  
  .icon-menu:after {
    top: 14px;
  }
  
  .icon-menu:after,
  .icon-menu:before,
  .icon-menu {
    border-radius: 30%;
  }
  
  
  
  /* form pós-pesquisa */
  .formPesquisa form {
    display: none;
  }
  
  .search-mobile {
    display: none;
  }
  
  .hide {
    display: none;
  }

  /* main footer */
  .box_footer {
    width: 100%;
    position: fixed;    
    bottom: 0;
  }
  .main-footer{
    height: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #2f2a53;
    color: #fff;
    margin-left: 0;
}

/*

CSS pesquisa 

*/

#content {
  position: relative;
  /* height: 50px; */
  width: 100%;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
}

#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

input {
  /* position: absolute;
    right: 0;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: 4px solid #2f2a53;
  border-radius: 50%;
  background: none;
  color: #2f2a53;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; */
  /* -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%); */
}
/* 
.search {
  background: none;
  position: absolute;
  left: 99%;
  top: 19px;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 4px;
  background-color: #2f2a53;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 19px;
  margin-left: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 2px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #2f2a53;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 2px;
  background-color: #2f2a53;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 50px;
  border: 4px solid #2f2a53;
  border-radius: 0;
  background: none;
  color: #2f2a53;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
 */



/*  --------  */
.box-search-top input{
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
}
.box-search-top input[type=text] {
  color: black;
}
.s-border {
  border: 1px solid #2f2a53;
}
.s {
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  /* top: 0px; */
  cursor: pointer;
  z-index: 100;
  background: white;
}
.span-search {
  position: absolute;
  right: 0;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: 1px solid #2f2a53;
  border-radius: 50%;
  background: none;
  color: #2f2a53;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; 
  top: 24%;
  transform: translateY(-50%);
  /* -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  /* position: absolute;
  
  
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-bottom: 1px solid #2f2a53;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; */
  /* -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%); */
}

.s::after {
  content: '';
    position: absolute;
    height: 14px;
    width: 4px;
    background: #2f2a53;
    right: -3px;
    top: 18px;
    outline: none;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 14%;
}

.inclicked {
  /* width: 100%;
  height: 35px;
  border-radius: 0;
  right: 0;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s; */
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 100%;
  height: 30px;
  border-radius: 0;
  background: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  border: 1px solid transparent !important;
}

.close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 2px;
  top: 50%;
  left: 12%;
  background-color: #2f2a53;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 2px;
  background-color: #2f2a53;
  top: 50%;
  left: 12%;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.list_link {
  list-style: none;
  font-size: 1.2em;
}





