<!-- <header class="header">
    <div class="h-box">
        <div class="h_box-item h_left" *ngIf="!hiddenLogo">
            <a [routerLink]="['/']" class="logo">
                <img src="./assets/img/logo_2.png" alt="">
            </a> -->
<!-- <i class="fa fa-filter fa-2x" *ngIf="!hiddenLogo"></i> -->
<!-- </div>
        <div class="h_box-item h_center" *ngIf="!hiddenLogo"> -->
<!-- <a [routerLink]="['/']" class="logo">
                <img src="./assets/img/logo_2.png" alt="">
            </a> -->
<!-- <div class="searchInput">
                <form [formGroup]="searchTop">
                    <div class="box-search-top">
                        <input type="text" formControlName="search" (keyup.enter)="_searchTop(searchTop.value)"
                            [(ngModel)]="valueSearch">
                        <i class="fa fa-search" (click)="_searchTop(searchTop.value)"></i>
                    </div>
                </form>
            </div>
        </div>
        <div class="h_box-item h_right">
            <div class="b_btn-nav">
                <a href=""></a>
            </div>
            <i class="fa fa-filter fa-2x" *ngIf="!hiddenLogo"></i>
            <i class="fa fa-search fa-2x" *ngIf="!hiddenLogo"></i>
            <div class="b_btn-nav">
                <a [routerLink]="['/login']" class="login" *ngIf="!token">
                    Entrar
                </a>

                <a [routerLink]="['/admin']" class="loginUser" *ngIf="token">
                    {{ nome }}
                </a>

            </div>
        </div>
    </div>
</header>
<div class="search-mobile" style="width: 100%; background: rgb(192, 192, 192); padding: 0px 15px 5px 15px;">
    <input type="text" style="width: 100%; background: white; border: 1px solid white ;height: 40px; border-radius: 4px">
</div> -->

<header class="header">
    <div class="col-xs-2 col-sm-3">
        <div class="col-xs-12" style="padding-left:0;">
            <div class="h_left">
                <a [routerLink]="['/']" class="logo">
                    <img src="./assets/img/logo_2.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-10" style="display: flex; justify-content:space-between; align-items: center;">
        <div class="" *ngIf="!hiddenLogo">
            <!-- <a [routerLink]="['/']" class="logo">
                        <img src="./assets/img/logo_2.png" alt="">
                    </a> -->
            <div class="searchInput">
                <form [formGroup]="searchTop">
                    <div class="box-search-top">
                        <input type="text" formControlName="search" (keyup.enter)="_searchTop(searchTop.value)"
                            [(ngModel)]="valueSearch" class="mr-t">
                        <i class="fa fa-search mr-t" (click)="_searchTop(searchTop.value)"></i>
                    </div>
                </form>
            </div>
        </div>
        <i class="fa"></i>
        <div class="" style="display:flex;">

            <i class="fa fa-filter fa-2x" *ngIf="!hiddenLogo"></i>
            <i class="fa fa-search fa-2x" *ngIf="!hiddenLogo"></i>
            <div class="b_btn-nav">
                <a [routerLink]="['/login']" class="login" *ngIf="!token">
                    Entrar
                </a>

                <a [routerLink]="['/admin']" class="loginUser" *ngIf="token">
                    {{ nome }}
                </a>

            </div>
        </div>
    </div>
</header>