<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" *ngIf="show">
        <div>
          <h4>{{ message.title }}</h4>
          <p><b>Autor:</b> {{ message.author }}</p>
          <p><b>Curso:</b> {{ message.course }}</p>
          <p><b>Universidade:</b> {{ message.name_university }}</p>
          <span [hidden]="!message.resume"><b>Resumo:</b></span>
          <p>{{ message.resume }}</p>
          <br>
          <p>Palavras Chave:</p>
          <span class="key-work-styl" *ngFor="let keyword of message.keywords">{{ keyword }}</span>
          <br>
          <br>
          <p><a style="color: #2f2a53;" href="http://localhost/repositorio-de-trabalhos/API/public/api/v2/workout/file/{{message.file }}">Fazer
              Dowload do Arquivo</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">  
        <div *ngIf="!show">
          <div class="modal-body">
            <div>
              <p>
                Digite seu endereço de e-mail e enviaremos um link para redefinir sua senha.
              </p>
              <div>
                <form [formGroup]="recuperarSenhaF">
                  <input type="email" placeholder="Endereço de Email" formControlName="email" #email style=" height: 30px;
                  border-radius: 3px;
                  border: 1px solid #2f2a53;
                  padding-left: 10px;">
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="color:#2f2a53;border:1px solid #2f2a53;">Cancelar</button>
            <button type="button" class="btn btn-primary" style="background-color:#2f2a53; color:white;" (click)="forget_pass(recuperarSenhaF.value)">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>